\documentclass[convert={outext=.png}]{standalone} 
\usepackage{multirow}
\usepackage{adjustbox}
\renewcommand{\arraystretch}{1.2}

\begin{document}


\centering
%\caption{Experimental Results}
\label{tab:experimental_results}

\begin{tabular}{c c c c c c c c c c c c c c c c c c}
\hline
\hline
 Domain & Method & MRE & Mean Residual & Miscal. Area & RMS Cal. & MA Cal. & Sharpness & NLL & CRPS & Check & Interval & Acc. MAE & Acc. RMSE & Acc. MDAE & Acc. MARPD & Acc. R2 & Acc. Corr. \\
 \hline
 \multirow{4}{*}{\rotatebox[origin=c]{90}{Training}} & FCNN & {{ train_FCNN_bundle_eb_mre }} & {{ train_FCNN_bundle_eb_residual }} & - & - & - & - & - & - & - & - & - & - & - & - & - & - \\
 \cline{2-18}
 & NLM & {{ train_NLM_bundle_no_eb_mre }} & {{ train_NLM_bundle_no_eb_residual }} & {{ train_NLM_bundle_no_eb_miscal_area }} & {{ train_NLM_bundle_no_eb_rms_cal }} & {{ train_NLM_bundle_no_eb_ma_cal }} & {{ train_NLM_bundle_no_eb_sharpness }} & {{ train_NLM_bundle_no_eb_nll }} & {{ train_NLM_bundle_no_eb_crps }} & {{ train_NLM_bundle_no_eb_check }} & {{ train_NLM_bundle_no_eb_interval }} & {{ train_NLM_bundle_no_eb_acc_mae }} & {{ train_NLM_bundle_no_eb_acc_rmse }} & {{ train_NLM_bundle_no_eb_acc_mdae }} & {{ train_NLM_bundle_no_eb_acc_marpd }} & {{ train_NLM_bundle_no_eb_acc_r2 }} & {{ train_NLM_bundle_no_eb_acc_corr }} \\
 & BBB & {{ train_BBB_bundle_no_eb_mre }} & {{ train_BBB_bundle_no_eb_residual }} & {{ train_BBB_bundle_no_eb_miscal_area }} & {{ train_BBB_bundle_no_eb_rms_cal }} & {{ train_BBB_bundle_no_eb_ma_cal }} & {{ train_BBB_bundle_no_eb_sharpness }} & {{ train_BBB_bundle_no_eb_nll }} & {{ train_BBB_bundle_no_eb_crps }} & {{ train_BBB_bundle_no_eb_check }} & {{ train_BBB_bundle_no_eb_interval }} & {{ train_BBB_bundle_no_eb_acc_mae }} & {{ train_BBB_bundle_no_eb_acc_rmse }} & {{ train_BBB_bundle_no_eb_acc_mdae }} & {{ train_BBB_bundle_no_eb_acc_marpd }} & {{ train_BBB_bundle_no_eb_acc_r2 }} & {{ train_BBB_bundle_no_eb_acc_corr }} \\
 & HMC & {{ train_HMC_bundle_no_eb_mre }} & {{ train_HMC_bundle_no_eb_residual }} & {{ train_HMC_bundle_no_eb_miscal_area }} & {{ train_HMC_bundle_no_eb_rms_cal }} & {{ train_HMC_bundle_no_eb_ma_cal }} & {{ train_HMC_bundle_no_eb_sharpness }} & {{ train_HMC_bundle_no_eb_nll }} & {{ train_HMC_bundle_no_eb_crps }} & {{ train_HMC_bundle_no_eb_check }} & {{ train_HMC_bundle_no_eb_interval }} & {{ train_HMC_bundle_no_eb_acc_mae }} & {{ train_HMC_bundle_no_eb_acc_rmse }} & {{ train_HMC_bundle_no_eb_acc_mdae }} & {{ train_HMC_bundle_no_eb_acc_marpd }} & {{ train_HMC_bundle_no_eb_acc_r2 }} & {{ train_HMC_bundle_no_eb_acc_corr }} \\
\hline
 \multirow{4}{*}{\rotatebox[origin=c]{90}{OOD}} & FCNN & {{ ood_FCNN_bundle_eb_mre }} & {{ ood_FCNN_bundle_eb_residual }} & - & - & - & - & - & - & - & - & - & - & - & - & - & - \\
 \cline{2-18}
 & NLM & {{ ood_NLM_bundle_no_eb_mre }} & {{ ood_NLM_bundle_no_eb_residual }} & {{ ood_NLM_bundle_no_eb_miscal_area }} & {{ ood_NLM_bundle_no_eb_rms_cal }} & {{ ood_NLM_bundle_no_eb_ma_cal }} & {{ ood_NLM_bundle_no_eb_sharpness }} & {{ ood_NLM_bundle_no_eb_nll }} & {{ ood_NLM_bundle_no_eb_crps }} & {{ ood_NLM_bundle_no_eb_check }} & {{ ood_NLM_bundle_no_eb_interval }} & {{ ood_NLM_bundle_no_eb_acc_mae }} & {{ ood_NLM_bundle_no_eb_acc_rmse }} & {{ ood_NLM_bundle_no_eb_acc_mdae }} & {{ ood_NLM_bundle_no_eb_acc_marpd }} & {{ ood_NLM_bundle_no_eb_acc_r2 }} & {{ ood_NLM_bundle_no_eb_acc_corr }} \\
 & BBB & {{ ood_BBB_bundle_no_eb_mre }} & {{ ood_BBB_bundle_no_eb_residual }} & {{ ood_BBB_bundle_no_eb_miscal_area }} & {{ ood_BBB_bundle_no_eb_rms_cal }} & {{ ood_BBB_bundle_no_eb_ma_cal }} & {{ ood_BBB_bundle_no_eb_sharpness }} & {{ ood_BBB_bundle_no_eb_nll }} & {{ ood_BBB_bundle_no_eb_crps }} & {{ ood_BBB_bundle_no_eb_check }} & {{ ood_BBB_bundle_no_eb_interval }} & {{ ood_BBB_bundle_no_eb_acc_mae }} & {{ ood_BBB_bundle_no_eb_acc_rmse }} & {{ ood_BBB_bundle_no_eb_acc_mdae }} & {{ ood_BBB_bundle_no_eb_acc_marpd }} & {{ ood_BBB_bundle_no_eb_acc_r2 }} & {{ ood_BBB_bundle_no_eb_acc_corr }} \\
 & HMC & {{ ood_HMC_bundle_no_eb_mre }} & {{ ood_HMC_bundle_no_eb_residual }} & {{ ood_HMC_bundle_no_eb_miscal_area }} & {{ ood_HMC_bundle_no_eb_rms_cal }} & {{ ood_HMC_bundle_no_eb_ma_cal }} & {{ ood_HMC_bundle_no_eb_sharpness }} & {{ ood_HMC_bundle_no_eb_nll }} & {{ ood_HMC_bundle_no_eb_crps }} & {{ ood_HMC_bundle_no_eb_check }} & {{ ood_HMC_bundle_no_eb_interval }} & {{ ood_HMC_bundle_no_eb_acc_mae }} & {{ ood_HMC_bundle_no_eb_acc_rmse }} & {{ ood_HMC_bundle_no_eb_acc_mdae }} & {{ ood_HMC_bundle_no_eb_acc_marpd }} & {{ ood_HMC_bundle_no_eb_acc_r2 }} & {{ ood_HMC_bundle_no_eb_acc_corr }} \\
\hline
 \multirow{4}{*}{\rotatebox[origin=c]{90}{Testing}} & FCNN & {{ test_FCNN_bundle_eb_mre }} & {{ test_FCNN_bundle_eb_residual }} & - & - & - & - & - & - & - & - & - & - & - & - & - & - \\
 \cline{2-18}
 & NLM & {{ test_NLM_bundle_no_eb_mre }} & {{ test_NLM_bundle_no_eb_residual }} & {{ test_NLM_bundle_no_eb_miscal_area }} & {{ test_NLM_bundle_no_eb_rms_cal }} & {{ test_NLM_bundle_no_eb_ma_cal }} & {{ test_NLM_bundle_no_eb_sharpness }} & {{ test_NLM_bundle_no_eb_nll }} & {{ test_NLM_bundle_no_eb_crps }} & {{ test_NLM_bundle_no_eb_check }} & {{ test_NLM_bundle_no_eb_interval }} & {{ test_NLM_bundle_no_eb_acc_mae }} & {{ test_NLM_bundle_no_eb_acc_rmse }} & {{ test_NLM_bundle_no_eb_acc_mdae }} & {{ test_NLM_bundle_no_eb_acc_marpd }} & {{ test_NLM_bundle_no_eb_acc_r2 }} & {{ test_NLM_bundle_no_eb_acc_corr }} \\
 & BBB & {{ test_BBB_bundle_no_eb_mre }} & {{ test_BBB_bundle_no_eb_residual }} & {{ test_BBB_bundle_no_eb_miscal_area }} & {{ test_BBB_bundle_no_eb_rms_cal }} & {{ test_BBB_bundle_no_eb_ma_cal }} & {{ test_BBB_bundle_no_eb_sharpness }} & {{ test_BBB_bundle_no_eb_nll }} & {{ test_BBB_bundle_no_eb_crps }} & {{ test_BBB_bundle_no_eb_check }} & {{ test_BBB_bundle_no_eb_interval }} & {{ test_BBB_bundle_no_eb_acc_mae }} & {{ test_BBB_bundle_no_eb_acc_rmse }} & {{ test_BBB_bundle_no_eb_acc_mdae }} & {{ test_BBB_bundle_no_eb_acc_marpd }} & {{ test_BBB_bundle_no_eb_acc_r2 }} & {{ test_BBB_bundle_no_eb_acc_corr }} \\
 & HMC & {{ test_HMC_bundle_no_eb_mre }} & {{ test_HMC_bundle_no_eb_residual }} & {{ test_HMC_bundle_no_eb_miscal_area }} & {{ test_HMC_bundle_no_eb_rms_cal }} & {{ test_HMC_bundle_no_eb_ma_cal }} & {{ test_HMC_bundle_no_eb_sharpness }} & {{ test_HMC_bundle_no_eb_nll }} & {{ test_HMC_bundle_no_eb_crps }} & {{ test_HMC_bundle_no_eb_check }} & {{ test_HMC_bundle_no_eb_interval }} & {{ test_HMC_bundle_no_eb_acc_mae }} & {{ test_HMC_bundle_no_eb_acc_rmse }} & {{ test_HMC_bundle_no_eb_acc_mdae }} & {{ test_HMC_bundle_no_eb_acc_marpd }} & {{ test_HMC_bundle_no_eb_acc_r2 }} & {{ test_HMC_bundle_no_eb_acc_corr }} \\
\hline
\hline

\end{tabular}


\end{document}
