\documentclass[convert={outext=.png}]{standalone} 
\usepackage{multirow}
\usepackage{adjustbox}
\renewcommand{\arraystretch}{1.2}

\begin{document}


\centering
%\caption{Experimental Results}
\label{tab:experimental_results}

\begin{tabular}{c c | c c c c c c c c c c | c c c c c c c c c c}
\hline
\hline
Equation & Method &  \multicolumn{10}{c}{Forward} & \multicolumn{10}{c}{Bundle} \\ \hline
 && Q10 & Q20 & Q30 & Q40 & Q50 & Q60 & Q70 & Q80 & Q90 & Q100 & Q10 & Q20 & Q30 & Q40 & Q50 & Q60 & Q70 & Q80 & Q90 & Q100\\
 \hline
 \multirow{7}{*}{\rotatebox[origin=c]{90}{$\Lambda$CDM}} & FCNN & {{ lcdm_FCNN_forward_eb_re_q10 }} & {{ lcdm_FCNN_forward_eb_re_q20 }} & {{ lcdm_FCNN_forward_eb_re_q30 }} & {{ lcdm_FCNN_forward_eb_re_q40 }} & {{ lcdm_FCNN_forward_eb_re_q50 }} & {{ lcdm_FCNN_forward_eb_re_q60 }} & {{ lcdm_FCNN_forward_eb_re_q70 }} & {{ lcdm_FCNN_forward_eb_re_q80 }} & {{ lcdm_FCNN_forward_eb_re_q90 }} & {{ lcdm_FCNN_forward_eb_re_q100 }} & {{ lcdm_FCNN_bundle_eb_re_q10 }} & {{ lcdm_FCNN_bundle_eb_re_q20 }} & {{ lcdm_FCNN_bundle_eb_re_q30 }} & {{ lcdm_FCNN_bundle_eb_re_q40 }} & {{ lcdm_FCNN_bundle_eb_re_q50 }} & {{ lcdm_FCNN_bundle_eb_re_q60 }} & {{ lcdm_FCNN_bundle_eb_re_q70 }} & {{ lcdm_FCNN_bundle_eb_re_q80 }} & {{ lcdm_FCNN_bundle_eb_re_q90 }} & {{ lcdm_FCNN_bundle_eb_re_q100 }} \\
 \cline{2-22}
 & NLM & {{ lcdm_NLM_forward_no_eb_re_q10 }} & {{ lcdm_NLM_forward_no_eb_re_q20 }} & {{ lcdm_NLM_forward_no_eb_re_q30 }} & {{ lcdm_NLM_forward_no_eb_re_q40 }} & {{ lcdm_NLM_forward_no_eb_re_q50 }} & {{ lcdm_NLM_forward_no_eb_re_q60 }} & {{ lcdm_NLM_forward_no_eb_re_q70 }} & {{ lcdm_NLM_forward_no_eb_re_q80 }} & {{ lcdm_NLM_forward_no_eb_re_q90 }} & {{ lcdm_NLM_forward_no_eb_re_q100 }} & {{ lcdm_NLM_bundle_no_eb_re_q10 }} & {{ lcdm_NLM_bundle_no_eb_re_q20 }} & {{ lcdm_NLM_bundle_no_eb_re_q30 }} & {{ lcdm_NLM_bundle_no_eb_re_q40 }} & {{ lcdm_NLM_bundle_no_eb_re_q50 }} & {{ lcdm_NLM_bundle_no_eb_re_q60 }} & {{ lcdm_NLM_bundle_no_eb_re_q70 }} & {{ lcdm_NLM_bundle_no_eb_re_q80 }} & {{ lcdm_NLM_bundle_no_eb_re_q90 }} & {{ lcdm_NLM_bundle_no_eb_re_q100 }} \\
 & BBB & {{ lcdm_BBB_forward_no_eb_re_q10 }} & {{ lcdm_BBB_forward_no_eb_re_q20 }} & {{ lcdm_BBB_forward_no_eb_re_q30 }} & {{ lcdm_BBB_forward_no_eb_re_q40 }} & {{ lcdm_BBB_forward_no_eb_re_q50 }} & {{ lcdm_BBB_forward_no_eb_re_q60 }} & {{ lcdm_BBB_forward_no_eb_re_q70 }} & {{ lcdm_BBB_forward_no_eb_re_q80 }} & {{ lcdm_BBB_forward_no_eb_re_q90 }} & {{ lcdm_BBB_forward_no_eb_re_q100 }} & {{ lcdm_BBB_bundle_no_eb_re_q10 }} & {{ lcdm_BBB_bundle_no_eb_re_q20 }} & {{ lcdm_BBB_bundle_no_eb_re_q30 }} & {{ lcdm_BBB_bundle_no_eb_re_q40 }} & {{ lcdm_BBB_bundle_no_eb_re_q50 }} & {{ lcdm_BBB_bundle_no_eb_re_q60 }} & {{ lcdm_BBB_bundle_no_eb_re_q70 }} & {{ lcdm_BBB_bundle_no_eb_re_q80 }} & {{ lcdm_BBB_bundle_no_eb_re_q90 }} & {{ lcdm_BBB_bundle_no_eb_re_q100 }} \\
 & HMC & {{ lcdm_HMC_forward_no_eb_re_q10 }} & {{ lcdm_HMC_forward_no_eb_re_q20 }} & {{ lcdm_HMC_forward_no_eb_re_q30 }} & {{ lcdm_HMC_forward_no_eb_re_q40 }} & {{ lcdm_HMC_forward_no_eb_re_q50 }} & {{ lcdm_HMC_forward_no_eb_re_q60 }} & {{ lcdm_HMC_forward_no_eb_re_q70 }} & {{ lcdm_HMC_forward_no_eb_re_q80 }} & {{ lcdm_HMC_forward_no_eb_re_q90 }} & {{ lcdm_HMC_forward_no_eb_re_q100 }} & {{ lcdm_HMC_bundle_no_eb_re_q10 }} & {{ lcdm_HMC_bundle_no_eb_re_q20 }} & {{ lcdm_HMC_bundle_no_eb_re_q30 }} & {{ lcdm_HMC_bundle_no_eb_re_q40 }} & {{ lcdm_HMC_bundle_no_eb_re_q50 }} & {{ lcdm_HMC_bundle_no_eb_re_q60 }} & {{ lcdm_HMC_bundle_no_eb_re_q70 }} & {{ lcdm_HMC_bundle_no_eb_re_q80 }} & {{ lcdm_HMC_bundle_no_eb_re_q90 }} & {{ lcdm_HMC_bundle_no_eb_re_q100 }} \\
 \cline{2-22}
 & NLM + EB & {{ lcdm_NLM_forward_eb_re_q10 }} & {{ lcdm_NLM_forward_eb_re_q20 }} & {{ lcdm_NLM_forward_eb_re_q30 }} & {{ lcdm_NLM_forward_eb_re_q40 }} & {{ lcdm_NLM_forward_eb_re_q50 }} & {{ lcdm_NLM_forward_eb_re_q60 }} & {{ lcdm_NLM_forward_eb_re_q70 }} & {{ lcdm_NLM_forward_eb_re_q80 }} & {{ lcdm_NLM_forward_eb_re_q90 }} & {{ lcdm_NLM_forward_eb_re_q100 }} & {{ lcdm_NLM_bundle_eb_re_q10 }} & {{ lcdm_NLM_bundle_eb_re_q20 }} & {{ lcdm_NLM_bundle_eb_re_q30 }} & {{ lcdm_NLM_bundle_eb_re_q40 }} & {{ lcdm_NLM_bundle_eb_re_q50 }} & {{ lcdm_NLM_bundle_eb_re_q60 }} & {{ lcdm_NLM_bundle_eb_re_q70 }} & {{ lcdm_NLM_bundle_eb_re_q80 }} & {{ lcdm_NLM_bundle_eb_re_q90 }} & {{ lcdm_NLM_bundle_eb_re_q100 }} \\
 & BBB + EB & {{ lcdm_BBB_forward_eb_re_q10 }} & {{ lcdm_BBB_forward_eb_re_q20 }} & {{ lcdm_BBB_forward_eb_re_q30 }} & {{ lcdm_BBB_forward_eb_re_q40 }} & {{ lcdm_BBB_forward_eb_re_q50 }} & {{ lcdm_BBB_forward_eb_re_q60 }} & {{ lcdm_BBB_forward_eb_re_q70 }} & {{ lcdm_BBB_forward_eb_re_q80 }} & {{ lcdm_BBB_forward_eb_re_q90 }} & {{ lcdm_BBB_forward_eb_re_q100 }} & {{ lcdm_BBB_bundle_eb_re_q10 }} & {{ lcdm_BBB_bundle_eb_re_q20 }} & {{ lcdm_BBB_bundle_eb_re_q30 }} & {{ lcdm_BBB_bundle_eb_re_q40 }} & {{ lcdm_BBB_bundle_eb_re_q50 }} & {{ lcdm_BBB_bundle_eb_re_q60 }} & {{ lcdm_BBB_bundle_eb_re_q70 }} & {{ lcdm_BBB_bundle_eb_re_q80 }} & {{ lcdm_BBB_bundle_eb_re_q90 }} & {{ lcdm_BBB_bundle_eb_re_q100 }} \\
 & HMC + EB & {{ lcdm_HMC_forward_eb_re_q10 }} & {{ lcdm_HMC_forward_eb_re_q20 }} & {{ lcdm_HMC_forward_eb_re_q30 }} & {{ lcdm_HMC_forward_eb_re_q40 }} & {{ lcdm_HMC_forward_eb_re_q50 }} & {{ lcdm_HMC_forward_eb_re_q60 }} & {{ lcdm_HMC_forward_eb_re_q70 }} & {{ lcdm_HMC_forward_eb_re_q80 }} & {{ lcdm_HMC_forward_eb_re_q90 }} & {{ lcdm_HMC_forward_eb_re_q100 }} & {{ lcdm_HMC_bundle_eb_re_q10 }} & {{ lcdm_HMC_bundle_eb_re_q20 }} & {{ lcdm_HMC_bundle_eb_re_q30 }} & {{ lcdm_HMC_bundle_eb_re_q40 }} & {{ lcdm_HMC_bundle_eb_re_q50 }} & {{ lcdm_HMC_bundle_eb_re_q60 }} & {{ lcdm_HMC_bundle_eb_re_q70 }} & {{ lcdm_HMC_bundle_eb_re_q80 }} & {{ lcdm_HMC_bundle_eb_re_q90 }} & {{ lcdm_HMC_bundle_eb_re_q100 }} \\
 \hline
 \multirow{5}{*}{\rotatebox[origin=c]{90}{CPL}} & FCNN & {{ cpl_FCNN_forward_eb_re_q10 }} & {{ cpl_FCNN_forward_eb_re_q20 }} & {{ cpl_FCNN_forward_eb_re_q30 }} & {{ cpl_FCNN_forward_eb_re_q40 }} & {{ cpl_FCNN_forward_eb_re_q50 }} & {{ cpl_FCNN_forward_eb_re_q60 }} & {{ cpl_FCNN_forward_eb_re_q70 }} & {{ cpl_FCNN_forward_eb_re_q80 }} & {{ cpl_FCNN_forward_eb_re_q90 }} & {{ cpl_FCNN_forward_eb_re_q100 }} & {{ lcdm_FCNN_bundle_eb_re_q10 }} & {{ lcdm_FCNN_bundle_eb_re_q20 }} & {{ lcdm_FCNN_bundle_eb_re_q30 }} & {{ lcdm_FCNN_bundle_eb_re_q40 }} & {{ lcdm_FCNN_bundle_eb_re_q50 }} & {{ lcdm_FCNN_bundle_eb_re_q60 }} & {{ lcdm_FCNN_bundle_eb_re_q70 }} & {{ lcdm_FCNN_bundle_eb_re_q80 }} & {{ lcdm_FCNN_bundle_eb_re_q90 }} & {{ lcdm_FCNN_bundle_eb_re_q100 }}\\
 \cline{2-22}
 & BBB & {{ cpl_BBB_forward_no_eb_re_q10 }} & {{ cpl_BBB_forward_no_eb_re_q20 }} & {{ cpl_BBB_forward_no_eb_re_q30 }} & {{ cpl_BBB_forward_no_eb_re_q40 }} & {{ cpl_BBB_forward_no_eb_re_q50 }} & {{ cpl_BBB_forward_no_eb_re_q60 }} & {{ cpl_BBB_forward_no_eb_re_q70 }} & {{ cpl_BBB_forward_no_eb_re_q80 }} & {{ cpl_BBB_forward_no_eb_re_q90 }} & {{ cpl_BBB_forward_no_eb_re_q100 }} & {{ cpl_BBB_bundle_no_eb_re_q10 }} & {{ cpl_BBB_bundle_no_eb_re_q20 }} & {{ cpl_BBB_bundle_no_eb_re_q30 }} & {{ cpl_BBB_bundle_no_eb_re_q40 }} & {{ cpl_BBB_bundle_no_eb_re_q50 }} & {{ cpl_BBB_bundle_no_eb_re_q60 }} & {{ cpl_BBB_bundle_no_eb_re_q70 }} & {{ cpl_BBB_bundle_no_eb_re_q80 }} & {{ cpl_BBB_bundle_no_eb_re_q90 }} & {{ cpl_BBB_bundle_no_eb_re_q100 }} \\
 & HMC & {{ cpl_HMC_forward_no_eb_re_q10 }} & {{ cpl_HMC_forward_no_eb_re_q20 }} & {{ cpl_HMC_forward_no_eb_re_q30 }} & {{ cpl_HMC_forward_no_eb_re_q40 }} & {{ cpl_HMC_forward_no_eb_re_q50 }} & {{ cpl_HMC_forward_no_eb_re_q60 }} & {{ cpl_HMC_forward_no_eb_re_q70 }} & {{ cpl_HMC_forward_no_eb_re_q80 }} & {{ cpl_HMC_forward_no_eb_re_q90 }} & {{ cpl_HMC_forward_no_eb_re_q100 }} & {{ cpl_HMC_bundle_no_eb_re_q10 }} & {{ cpl_HMC_bundle_no_eb_re_q20 }} & {{ cpl_HMC_bundle_no_eb_re_q30 }} & {{ cpl_HMC_bundle_no_eb_re_q40 }} & {{ cpl_HMC_bundle_no_eb_re_q50 }} & {{ cpl_HMC_bundle_no_eb_re_q60 }} & {{ cpl_HMC_bundle_no_eb_re_q70 }} & {{ cpl_HMC_bundle_no_eb_re_q80 }} & {{ cpl_HMC_bundle_no_eb_re_q90 }} & {{ cpl_HMC_bundle_no_eb_re_q100 }} \\
 \cline{2-22}
 & BBB + EB & {{ cpl_BBB_forward_eb_re_q10 }} & {{ cpl_BBB_forward_eb_re_q20 }} & {{ cpl_BBB_forward_eb_re_q30 }} & {{ cpl_BBB_forward_eb_re_q40 }} & {{ cpl_BBB_forward_eb_re_q50 }} & {{ cpl_BBB_forward_eb_re_q60 }} & {{ cpl_BBB_forward_eb_re_q70 }} & {{ cpl_BBB_forward_eb_re_q80 }} & {{ cpl_BBB_forward_eb_re_q90 }} & {{ cpl_BBB_forward_eb_re_q100 }} & {{ cpl_BBB_bundle_eb_re_q10 }} & {{ cpl_BBB_bundle_eb_re_q20 }} & {{ cpl_BBB_bundle_eb_re_q30 }} & {{ cpl_BBB_bundle_eb_re_q40 }} & {{ cpl_BBB_bundle_eb_re_q50 }} & {{ cpl_BBB_bundle_eb_re_q60 }} & {{ cpl_BBB_bundle_eb_re_q70 }} & {{ cpl_BBB_bundle_eb_re_q80 }} & {{ cpl_BBB_bundle_eb_re_q90 }} & {{ cpl_BBB_bundle_eb_re_q100 }} \\
 & HMC + EB & {{ cpl_HMC_forward_eb_re_q10 }} & {{ cpl_HMC_forward_eb_re_q20 }} & {{ cpl_HMC_forward_eb_re_q30 }} & {{ cpl_HMC_forward_eb_re_q40 }} & {{ cpl_HMC_forward_eb_re_q50 }} & {{ cpl_HMC_forward_eb_re_q60 }} & {{ cpl_HMC_forward_eb_re_q70 }} & {{ cpl_HMC_forward_eb_re_q80 }} & {{ cpl_HMC_forward_eb_re_q90 }} & {{ cpl_HMC_forward_eb_re_q100 }} & {{ cpl_HMC_bundle_eb_re_q10 }} & {{ cpl_HMC_bundle_eb_re_q20 }} & {{ cpl_HMC_bundle_eb_re_q30 }} & {{ cpl_HMC_bundle_eb_re_q40 }} & {{ cpl_HMC_bundle_eb_re_q50 }} & {{ cpl_HMC_bundle_eb_re_q60 }} & {{ cpl_HMC_bundle_eb_re_q70 }} & {{ cpl_HMC_bundle_eb_re_q80 }} & {{ cpl_HMC_bundle_eb_re_q90 }} & {{ cpl_HMC_bundle_eb_re_q100 }} \\
 \hline
 \multirow{4}{*}{\rotatebox[origin=c]{90}{Quint.}} & FCNN & {{ quintessence_FCNN_forward_no_eb_re_q10 }} & {{ quintessence_FCNN_forward_no_eb_re_q20 }} & {{ quintessence_FCNN_forward_no_eb_re_q30 }} & {{ quintessence_FCNN_forward_no_eb_re_q40 }} & {{ quintessence_FCNN_forward_no_eb_re_q50 }} & {{ quintessence_FCNN_forward_no_eb_re_q60 }} & {{ quintessence_FCNN_forward_no_eb_re_q70 }} & {{ quintessence_FCNN_forward_no_eb_re_q80 }} & {{ quintessence_FCNN_forward_no_eb_re_q90 }} & {{ quintessence_FCNN_forward_no_eb_re_q100 }} & {{ quintessence_FCNN_bundle_no_eb_re_q10 }} & {{ quintessence_FCNN_bundle_no_eb_re_q20 }} & {{ quintessence_FCNN_bundle_no_eb_re_q30 }} & {{ quintessence_FCNN_bundle_no_eb_re_q40 }} & {{ quintessence_FCNN_bundle_no_eb_re_q50 }} & {{ quintessence_FCNN_bundle_no_eb_re_q60 }} & {{ quintessence_FCNN_bundle_no_eb_re_q70 }} & {{ quintessence_FCNN_bundle_no_eb_re_q80 }} & {{ quintessence_FCNN_bundle_no_eb_re_q90 }} & {{ quintessence_FCNN_bundle_no_eb_re_q100 }} \\
 \cline{2-22}
 & NLM & {{ quintessence_NLM_forward_no_eb_re_q10 }} & {{ quintessence_NLM_forward_no_eb_re_q20 }} & {{ quintessence_NLM_forward_no_eb_re_q30 }} & {{ quintessence_NLM_forward_no_eb_re_q40 }} & {{ quintessence_NLM_forward_no_eb_re_q50 }} & {{ quintessence_NLM_forward_no_eb_re_q60 }} & {{ quintessence_NLM_forward_no_eb_re_q70 }} & {{ quintessence_NLM_forward_no_eb_re_q80 }} & {{ quintessence_NLM_forward_no_eb_re_q90 }} & {{ quintessence_NLM_forward_no_eb_re_q100 }} & {{ quintessence_NLM_bundle_no_eb_re_q10 }} & {{ quintessence_NLM_bundle_no_eb_re_q20 }} & {{ quintessence_NLM_bundle_no_eb_re_q30 }} & {{ quintessence_NLM_bundle_no_eb_re_q40 }} & {{ quintessence_NLM_bundle_no_eb_re_q50 }} & {{ quintessence_NLM_bundle_no_eb_re_q60 }} & {{ quintessence_NLM_bundle_no_eb_re_q70 }} & {{ quintessence_NLM_bundle_no_eb_re_q80 }} & {{ quintessence_NLM_bundle_no_eb_re_q90 }} & {{ quintessence_NLM_bundle_no_eb_re_q100 }} \\
 & BBB & {{ quintessence_BBB_forward_no_eb_re_q10 }} & {{ quintessence_BBB_forward_no_eb_re_q20 }} & {{ quintessence_BBB_forward_no_eb_re_q30 }} & {{ quintessence_BBB_forward_no_eb_re_q40 }} & {{ quintessence_BBB_forward_no_eb_re_q50 }} & {{ quintessence_BBB_forward_no_eb_re_q60 }} & {{ quintessence_BBB_forward_no_eb_re_q70 }} & {{ quintessence_BBB_forward_no_eb_re_q80 }} & {{ quintessence_BBB_forward_no_eb_re_q90 }} & {{ quintessence_BBB_forward_no_eb_re_q100 }} & {{ quintessence_BBB_bundle_no_eb_re_q10 }} & {{ quintessence_BBB_bundle_no_eb_re_q20 }} & {{ quintessence_BBB_bundle_no_eb_re_q30 }} & {{ quintessence_BBB_bundle_no_eb_re_q40 }} & {{ quintessence_BBB_bundle_no_eb_re_q50 }} & {{ quintessence_BBB_bundle_no_eb_re_q60 }} & {{ quintessence_BBB_bundle_no_eb_re_q70 }} & {{ quintessence_BBB_bundle_no_eb_re_q80 }} & {{ quintessence_BBB_bundle_no_eb_re_q90 }} & {{ quintessence_BBB_bundle_no_eb_re_q100 }} \\
 & HMC & {{ quintessence_HMC_forward_no_eb_re_q10 }} & {{ quintessence_HMC_forward_no_eb_re_q20 }} & {{ quintessence_HMC_forward_no_eb_re_q30 }} & {{ quintessence_HMC_forward_no_eb_re_q40 }} & {{ quintessence_HMC_forward_no_eb_re_q50 }} & {{ quintessence_HMC_forward_no_eb_re_q60 }} & {{ quintessence_HMC_forward_no_eb_re_q70 }} & {{ quintessence_HMC_forward_no_eb_re_q80 }} & {{ quintessence_HMC_forward_no_eb_re_q90 }} & {{ quintessence_HMC_forward_no_eb_re_q100 }} & {{ quintessence_HMC_bundle_no_eb_re_q10 }} & {{ quintessence_HMC_bundle_no_eb_re_q20 }} & {{ quintessence_HMC_bundle_no_eb_re_q30 }} & {{ quintessence_HMC_bundle_no_eb_re_q40 }} & {{ quintessence_HMC_bundle_no_eb_re_q50 }} & {{ quintessence_HMC_bundle_no_eb_re_q60 }} & {{ quintessence_HMC_bundle_no_eb_re_q70 }} & {{ quintessence_HMC_bundle_no_eb_re_q80 }} & {{ quintessence_HMC_bundle_no_eb_re_q90 }} & {{ quintessence_HMC_bundle_no_eb_re_q100 }} \\
 \hline
 \multirow{4}{*}{\rotatebox[origin=c]{90}{HS}} & FCNN & {{ lcdm_FCNN_forward_eb_re_q10 }} & {{ lcdm_FCNN_forward_eb_re_q20 }} & {{ lcdm_FCNN_forward_eb_re_q30 }} & {{ lcdm_FCNN_forward_eb_re_q40 }} & {{ lcdm_FCNN_forward_eb_re_q50 }} & {{ lcdm_FCNN_forward_eb_re_q60 }} & {{ lcdm_FCNN_forward_eb_re_q70 }} & {{ lcdm_FCNN_forward_eb_re_q80 }} & {{ lcdm_FCNN_forward_eb_re_q90 }} & {{ lcdm_FCNN_forward_eb_re_q100 }} & {{ lcdm_FCNN_bundle_eb_re_q10 }} & {{ lcdm_FCNN_bundle_eb_re_q20 }} & {{ lcdm_FCNN_bundle_eb_re_q30 }} & {{ lcdm_FCNN_bundle_eb_re_q40 }} & {{ lcdm_FCNN_bundle_eb_re_q50 }} & {{ lcdm_FCNN_bundle_eb_re_q60 }} & {{ lcdm_FCNN_bundle_eb_re_q70 }} & {{ lcdm_FCNN_bundle_eb_re_q80 }} & {{ lcdm_FCNN_bundle_eb_re_q90 }} & {{ lcdm_FCNN_bundle_eb_re_q100 }} \\
 \cline{2-22}
 & NLM & {{ hs_NLM_forward_no_eb_re_q10 }} & {{ hs_NLM_forward_no_eb_re_q20 }} & {{ hs_NLM_forward_no_eb_re_q30 }} & {{ hs_NLM_forward_no_eb_re_q40 }} & {{ hs_NLM_forward_no_eb_re_q50 }} & {{ hs_NLM_forward_no_eb_re_q60 }} & {{ hs_NLM_forward_no_eb_re_q70 }} & {{ hs_NLM_forward_no_eb_re_q80 }} & {{ hs_NLM_forward_no_eb_re_q90 }} & {{ hs_NLM_forward_no_eb_re_q100 }} & {{ hs_NLM_bundle_no_eb_re_q10 }} & {{ hs_NLM_bundle_no_eb_re_q20 }} & {{ hs_NLM_bundle_no_eb_re_q30 }} & {{ hs_NLM_bundle_no_eb_re_q40 }} & {{ hs_NLM_bundle_no_eb_re_q50 }} & {{ hs_NLM_bundle_no_eb_re_q60 }} & {{ hs_NLM_bundle_no_eb_re_q70 }} & {{ hs_NLM_bundle_no_eb_re_q80 }} & {{ hs_NLM_bundle_no_eb_re_q90 }} & {{ hs_NLM_bundle_no_eb_re_q100 }} \\
 & BBB & {{ hs_BBB_forward_no_eb_re_q10 }} & {{ hs_BBB_forward_no_eb_re_q20 }} & {{ hs_BBB_forward_no_eb_re_q30 }} & {{ hs_BBB_forward_no_eb_re_q40 }} & {{ hs_BBB_forward_no_eb_re_q50 }} & {{ hs_BBB_forward_no_eb_re_q60 }} & {{ hs_BBB_forward_no_eb_re_q70 }} & {{ hs_BBB_forward_no_eb_re_q80 }} & {{ hs_BBB_forward_no_eb_re_q90 }} & {{ hs_BBB_forward_no_eb_re_q100 }} & {{ hs_BBB_bundle_no_eb_re_q10 }} & {{ hs_BBB_bundle_no_eb_re_q20 }} & {{ hs_BBB_bundle_no_eb_re_q30 }} & {{ hs_BBB_bundle_no_eb_re_q40 }} & {{ hs_BBB_bundle_no_eb_re_q50 }} & {{ hs_BBB_bundle_no_eb_re_q60 }} & {{ hs_BBB_bundle_no_eb_re_q70 }} & {{ hs_BBB_bundle_no_eb_re_q80 }} & {{ hs_BBB_bundle_no_eb_re_q90 }} & {{ hs_BBB_bundle_no_eb_re_q100 }} \\
 & HMC & {{ hs_HMC_forward_no_eb_re_q10 }} & {{ hs_HMC_forward_no_eb_re_q20 }} & {{ hs_HMC_forward_no_eb_re_q30 }} & {{ hs_HMC_forward_no_eb_re_q40 }} & {{ hs_HMC_forward_no_eb_re_q50 }} & {{ hs_HMC_forward_no_eb_re_q60 }} & {{ hs_HMC_forward_no_eb_re_q70 }} & {{ hs_HMC_forward_no_eb_re_q80 }} & {{ hs_HMC_forward_no_eb_re_q90 }} & {{ hs_HMC_forward_no_eb_re_q100 }} & {{ hs_HMC_bundle_no_eb_re_q10 }} & {{ hs_HMC_bundle_no_eb_re_q20 }} & {{ hs_HMC_bundle_no_eb_re_q30 }} & {{ hs_HMC_bundle_no_eb_re_q40 }} & {{ hs_HMC_bundle_no_eb_re_q50 }} & {{ hs_HMC_bundle_no_eb_re_q60 }} & {{ hs_HMC_bundle_no_eb_re_q70 }} & {{ hs_HMC_bundle_no_eb_re_q80 }} & {{ hs_HMC_bundle_no_eb_re_q90 }} & {{ hs_HMC_bundle_no_eb_re_q100 }} \\
\end{tabular}


\end{document}
